doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Strona główna
  body
    main
      .middle-text
        .content-text
          h1 Welcome to Clinic!
        form#fields(action='/checkIfUsernameExists')
          input#login.txt(type='text', name='idLekarza', required='', placeholder='Your id')
          br
          input.txt(type='password', name='Haslo', required='', placeholder='Password')
          br
          input(type='submit', value='Zaloguj')
