doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Doctors
  body
    header
      main
        .content-buttons
          a.button(href='/' style="background-color: #6A2E2E;") Sign out
        #search
          form#searchfield(action='listofusers')
            input(type='text', name='userToSearch', required='required', style='display: inline-block;')
            input(type='submit', value='Search', style='display: inline-block;')
          h3#usersheader Doctors
          br
