<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <link rel="stylesheet" href="style.css">
    <title>Receipts</title>
  </head>
  <body>
    <header>
      <main>
        <div id="search">
          <form id="searchfield" action="listofusers">
            <input type="text" name="userToSearch" required="required" style="display: inline-block;">
            <input type="submit" value="Search" style="display: inline-block;">
          </form>
          <h3 id="usersheader">Receipts</h3><br>
        </div>
      </main>
    </header>
  </body>
</html>