doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Panel
  body
    script.
      function redirectToDoctors() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/listofdoctors?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
      function redirectToPatients() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/listofpatients?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
      function redirectToAppointments() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/listofappointments?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
      function redirectToReceipts() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/listofreceipts?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
      function redirectToReferrals() {
      var idLekarza = location.search.split('idLekarza=')[1];
      var url= '/listofreferrals?idLekarza=' + idLekarza;
      window.location.replace(url);
      }
    main
      .content-buttons
        a.button(href='/' style="background-color: #6A2E2E;") Wyloguj się
      .content-buttons
        a.button(href='#popup1') Dodaj lekarza
        a.button(href='#popup2') Dodaj pacjenta
        a.button(href='#popup3') Dodaj wizytę
        a.button(href='#popup4') Dodaj receptę
        a.button(href='#popup5') Dodaj skierowanie
      .content-buttons
        a.button(onclick='redirectToDoctors()', style="background-color: #8C999A;") Lista lekarzy
        a.button(onclick='redirectToPatients()', style="background-color: #8C999A;") Lista pacjentów
        a.button(onclick='redirectToAppointments()', style="background-color: #8C999A;") Lista wizyt
        a.button(onclick='redirectToReceipts()', style="background-color: #8C999A;") Lista recept
        a.button(onclick='redirectToReferrals()', style="background-color: #8C999A;") Lista skierowań 
      #popup1.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Dodaj lekarza
            form#fields(action='/addDoctor')
              input(type='text', name='idLekarza', placeholder='id', required='')
              input.txt(type='text', name='login', placeholder='login', required='')
              input.txt(type='password', name='Haslo', placeholder='Haslo', required='')
              input.txt(type='text', name='Specjalizacja', placeholder='Specjalizacja', required='')
              input.txt(type='submit', value='Dodaj')
      #popup2.overlay
        .popup
          a.close(href='#') ×
          .content#fields
            h2 Dodaj pacjenta
            form#fields(action='/addPatient')
              input(type='text', name='idPacjenta', placeholder='id', required='')
              input.txt(type='text', name='login', placeholder='login', required='')
              input(type='submit', value='Dodaj')
      #popup3.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Dodaj wizytę
            form#fields(action='/addAppointment')
              input(type='text', name='idWizyty', placeholder='id Wizyty', required='')
              input(type='text', name='Data', placeholder='Data', required='')
              input.txt(type='text', name='Domowa', placeholder='Domowa', required='')
              input.txt(type='text', name='Platna', placeholder='Platna', required='')
              input(type='text', name='idLekarza', placeholder='id Lekarza', required='')
              input(type='text', name='idPacjenta', placeholder='id Pacjenta', required='')
              input(type='submit', value='Dodaj')
      #popup4.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Dodaj receptę
            form#fields(action='/addReceipt')
              input(type='text', name='idRecepty', placeholder='id', required='')
              input(type='text', name='idChoroby', placeholder='id Choroby', required='')
              input(type='text', name='Refundacja', placeholder='Refundacja', required='')
              input(type='text', name='idPacjenta', placeholder='id Pacjenta', required='')
              input(type='text', name='idLekarza', placeholder='id Lekarza', required='')
              input(type='submit', value='Dodaj')
      #popup5.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Dodaj skierowanie
            form#fields(action='/addReferral')
              input(type='text', name='idSkierowania', placeholder='id', required='')
              input(type='text', name='idPacjenta', placeholder='id Pacjenta', required='')
              input(type='text', name='idLekarza', placeholder='id Lekarza', required='')
              input(type='submit', value='Dodaj')
