<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="stylesheet" href="style.css" />
    <title>Panel</title>
</head>
<body>

  <main>
    
       <form id="main">
         <input type="search" placeholder="Search">
         <a href="event.html" class="button">Go</a>
       </form>
      <div class="content-buttons">
        <a href="#popup1" class="button">Add doctor</a>
        <a href="#popup2" class="button">Add patient</a>
        <a href="#popup3" class="button">Add appointment</a>
        <a href="#popup4" class="button">Add receipt</a>
        <a href="#popup5" class="button">Add referral</a>
      </div>

      <div id="popup1" class="overlay">
        <div class="popup">
         <a class="close" href="#">&times;</a>
         <div class="content">
            <h2>Add doctor</h2>
            <input type="text" name="id" placeholder="Identification Number">
            <input type="text" name="Haslo" placeholder="Password">
            <input type="text" name="Imie" placeholder="Name">
            <input type="text" name="Nazwisko" placeholder="Surname">
            <input type="text" name="Specjalizacja" placeholder="Specialization">
            <input type="submit" value="Add">  
         </div>
        </div>
      </div>

      <div id="popup2" class="overlay">
        <div class="popup">
          <a class="close" href="#">&times;</a>
          <div class="content">
            <h2>Add patient</h2>
            <input type="text" name="id" placeholder="Identification Number">
            <input type="text" name="Imie" placeholder="Name">
            <input type="text" name="Nazwisko" placeholder="Surname">
            <input type="text" name="Ubezpieczenie" placeholder="Insurance">
            <input type="submit" value="Add">
          </div>
        </div>
      </div>

      <div id="popup3" class="overlay">
        <div class="popup">
          <a class="close" href="#">&times;</a>
          <div class="content">
            <h2>Add appointment</h2>
            <input type="text" name="id" placeholder="Identification Number">
            <input type="text" name="Data" placeholder="Date">
            <input type="text" name="Domowa" placeholder="Home/Clinic">
            <input type="text" name="Platne" placeholder="Paid/Free">
            <input type="submit" value="Add">
          </div>
        </div>
      </div>

      <div id="popup4" class="overlay">
        <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <h2>Add receipt</h2>
            <input type="text" name="id" placeholder="Identification Number">
            <input type="text" name="Refundcja" placeholder="Refundation">
            <input type="submit" value="Add">
        </div>
        </div>
      </div>

      <div id="popup5" class="overlay">
        <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <h2>Add referral</h2>
            <input type="text" name="id" placeholder="Identification Number">
            <input type="submit" value="Add">
        </div>
        </div>
      </div>
    

  </main>

</body>
</html>