doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Panel
  body
    main
      .content-buttons
        a.button(href='/' style="background-color: #6A2E2E;") Sign out
      .content-buttons
        a.button(href='#popup1') Add doctor
        a.button(href='#popup2') Add patient
        a.button(href='#popup3') Add appointment
        a.button(href='#popup4') Add receipt
        a.button(href='#popup5') Add referral
      .content-buttons
        a.button(href='/listofdoctors' style="background-color: #8C999A;") View doctors
        a.button(href='/listofpatients' style="background-color: #8C999A;") View patients
        a.button(href='/listofappointments' style="background-color: #8C999A;") View appointments
        a.button(href='/listofreceipts' style="background-color: #8C999A;") View receipts
        a.button(href='/listofreferrals' style="background-color: #8C999A;") View referrals  
      #popup1.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Add doctor
            input(type='text', name='id', placeholder='Identification Number')
            input(type='text', name='Haslo', placeholder='Password')
            input(type='text', name='Imie', placeholder='Name')
            input(type='text', name='Nazwisko', placeholder='Surname')
            input(type='text', name='Specjalizacja', placeholder='Specialization')
            input(type='submit', value='Add')
      #popup2.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Add patient
            input(type='text', name='id', placeholder='Identification Number')
            input(type='text', name='Imie', placeholder='Name')
            input(type='text', name='Nazwisko', placeholder='Surname')
            input(type='text', name='Ubezpieczenie', placeholder='Insurance')
            input(type='submit', value='Add')
      #popup3.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Add appointment
            input(type='text', name='id', placeholder='Identification Number')
            input(type='text', name='Data', placeholder='Date')
            input(type='text', name='Domowa', placeholder='Home/Clinic')
            input(type='text', name='Platne', placeholder='Paid/Free')
            input(type='submit', value='Add')
      #popup4.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Add receipt
            input(type='text', name='id', placeholder='Identification Number')
            input(type='text', name='Refundcja', placeholder='Refundation')
            input(type='submit', value='Add')
      #popup5.overlay
        .popup
          a.close(href='#') ×
          .content
            h2 Add referral
            input(type='text', name='id', placeholder='Identification Number')
            input(type='submit', value='Add')
