<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="stylesheet" href="style.css" />
    <title>Panel</title>
</head>
<body>

  <main>
    
       <form id="main">
         <input type="search" placeholder="Search">
         <a href="event.html" class="button">Go</a>
       </form>
      <div class="content-buttons">
        <div class="button">Add doctor</div>
        <div class="button">Add patient</div>
        <div class="button">Add appointment</div>
        <div class="button">Add receipt</div>
        <div class="button">Add referral</div>
      </div>
    

  </main>

</body>
</html>