html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  height: 500px;
  overflow: hidden;
  text-align: center;
}

.button {
    display: inline-block;
    width: auto;
    text-align: center;
    cursor: pointer;
    color: white;
}

.buttonlistofusers{
    display: inline-block;
    width: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #7f8c8d;
    color: #000;
}
.content-buttons{
    text-align: center;
    margin-top: 50px;
}
.content-buttons > .button {
    background-color: #e57373;
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    border-radius: 16px;
    margin: 0 10px;
    transition: all 0.3s ease-out;
}

main {
    padding-top: 150px;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
}

.middle-text {
    overflow: hidden;
    position: relative;
    top: 10%;
    width: 100%;
    height: 100%;
}


p {
    color: black;
}
h1{ 
    text-align: center;
}

input[type="search"] {
    position: absolute;
    left: 0%;
    width: 200px !important;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 95% 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}


input{
    position: relative;
    left: 30%;
    width: 40%;
    display: block;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 95% 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

input[type="submit"] {
    background-color: #D88F3C;
    width: 40%;
}

#main {
    width: 200px;
    height: 48px;
    left: 50%;
    margin-left: -100px;
    position: relative;
}

#main > .button {
    line-height: 48px;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    color: #fff;
    background: #D88F3C;
    border-radius: 25px;
    margin-right: 0;
    float: right;
    height: 48px;
    width: 80px;
}

#down {
    float: left;
}

#searchfield{
    float: right;
    display: inline-block;
}


#listofusers{
    position: relative;
      max-width: 35%;
      height: 400px;
      z-index: 15;
      left: 15%;
      background: #333;
      color: white;
}

#cancelbutton{
    height:50px;
    width:200px;
    background-color: #cc0000;
}

.content-buttons > .button:hover {
    background-color: #ffa4a2;
    color: white;
}

label {
  margin-right: 20%;
}


#cancelbutton{
    height:50px;
    width:200px;
    background-color: #cc0000;
}

